---
import '../styles/global.css'
import '../styles/page.css'
import headerLogo from '../assets/header-hor-2025-01-27.png'
import Metadata from '../components/Metadata.astro'
import Fonts from '../components/Fonts.astro'
import Favicon from '../components/Favicon.astro'
const { metadata } = Astro.props

const _metadata = {
  title: 'page',
  description: 'page description',
  keywords: 'Creative Coding, Bookclub, Page',
  emoji: '📄',
  ...metadata,
}
---

<!doctype html>
<html lang='en'>
  <head>
    <Favicon emoji={_metadata.emoji} />
    <Metadata
      title={_metadata.title}
      description={_metadata.description}
      keywords={_metadata.keywords}
    />
    <Fonts />
  </head>
  <body>
    <header class='max-w-screen-sm m-auto px-8 my-4'>
      <div class='flex items-center space-x-4'>
        <span>
          <a href='/' class='ccb-link'> Back</a>
          to</span
        >
        <img
          id='header-logo'
          class='w-60 md:w-100'
          alt='Creative Coding Bookclub Logo'
          src={headerLogo.src}
          fetchpriority='high'
        />
      </div>
      <h1 class='ccb-h2 my-4'>{_metadata.title}</h1>
    </header>
    <main class='max-w-screen-sm m-auto px-8 pb-30'>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
